body{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    margin-top: 10mm;
    background-color: #d2d8bd99;
}
.op{
    padding: 20px;
    border-radius: 5px;
    border-color: #0b2e00;
    width: 5mm;
    height: 10mm;
    font-size: 4mm;
    margin: 3px;
}
.n{
    padding: 20px;
    border-radius: 5px;
    border-color: #487908;
    width: 5mm;
    height: 10mm;
    font-size: 3.5mm;
    margin: 3px;
}
.calM{
    padding: 20px;
    border-radius: 5px;
    border-color: #6f9b29;
    width: 55mm;
    height: 10mm;
    font-size: 4mm;
    margin: 3px;
}
#voltar{
    padding: 20px;
    border-radius: 5px;
    border-color: #6f9b29;
    width: 55mm;
    height: 10mm;
    font-size: 4mm;
    margin: 3px;
}
#resultado{
background-color: #aec94e99;
width: 53mm;
height: 10mm;
margin: 2mm;
border-radius: 2mm;
color: #010f00;
text-align: right;
padding: 4px;
font-size: 4mm;
}
#pontos{
background-color: #aec94e99;
width: 20mm;
height: 10mm;
margin: 2mm;
border-radius: 2mm;
color: #010f00;
text-align: right;
padding: 4px;
font-size: 4mm;
}
#operacaoJogo{
background-color: #aec94e99;
width: 53mm;
height: 10mm;
margin: 2mm;
border-radius: 2mm;
color: #010f00;
text-align: right;
padding: 4px;
font-size: 4mm;
}
.pontosDiv{
    display: flex;
    align-items: baseline;
}